*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: none;
}
html,body {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.services{
    width: 100%;
    height: 330px;
    padding: 10px;
}

.service-container{
    position: relative;
}
.services .container{
    width: 100%;
    max-width: 1190px;
    height: 230px;
    background-color: rgb(205, 42, 246);
    margin: 40px auto;
    border-radius: 15px;
    box-shadow: 0 8px 10px rgba(205, 42, 246, 0.3);
}
.service-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    text-align: center;
}
.service-card div {
    color: #fff;
}
.service-card div h2{
    font-size: 40px;
}
.service-card div p{
    font-weight: 600;
}

@media screen and (max-width:700px) {
    .services{
        height: 700px;
        padding: 20px;
    }
    .service-container {
        margin: 0 auto;
        max-width: 400px;
        height: 650px;
        justify-content: center;
        
    }
    .service-card{
        padding-top: 300px;
        flex-direction: column;
    }
    .service-card div p{
        width: 300px;
    }
    .about-btn {
        padding: 0 25px;
    }
}

            /* * About * */
.about {
    width: 100%;
    height: 900px;
    overflow-y: auto;
}

.about-head {
    text-align: center;
}

.about-head p{
    font-size: 14px;
    color: rgb(205, 42, 246);
}
.about-head h1{
    font-size: 40px;
}

.about-btn{
    max-width: 1200px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 10px;
}
.about-btn .hr{
    width: 300px;
    height: 0;
    position: relative;
    top: 25px;
    border: 1px dashed #616161 ;
    border-width: 2px 0 0;
}
.about-vision{
    width: 120px;
    text-align: center;
    position: relative;
    top: 10px;
    color: #B0B7D3;
    transition: color 0.5s;
    cursor: pointer;
}
.about-vision:hover{
    color: #232323;
}

.about-vision.active-btn{
    color: rgb(205, 42, 246);
}

.circle {
    display: none;
}

.circle.activ{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
    margin: 0 auto;
    position: absolute;
    z-index: -1;
    left: 35%;
    top: -3%;
}
.about-vision span i{
    position: absolute;
    top: 8.5%;
    left: 43%;
    font-size: 12px;
}
.about-vision p{
    margin-top: 40px;
}

.about-card{
    width: 100%;
    height: 650px;
    display: flex;
    overflow: hidden;
    position: relative;
}
.vision-card .vision-body{
    max-width: 1100px;
    width: 100%;
    display: flex;
    position: absolute;
    left: 52%;
    transform: translate(-50%, 0%);
    margin: 100px auto;
    transition: transform 0.5s ease;
    flex: 0 0 100%;
}
.vision-body img {
    max-width: 645px;
    width: 100%;
    height: 550px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.vision-text{
    max-width: 430px;
    width: 100%;
    padding: 70px 0;
}
.vision-text h2{
    padding: 0 0 10px;
    font-size: 30px;
    color: #232323;
}
.vision-text p{
    line-height: 35px;
    color: #696970;
}
.vision-text hr{
    width: 30px;
    height: 2px;
    background-color: rgb(205, 42, 246);
    border: 1px solid rgb(205, 42, 246);
    margin: 40px 0;
}
.vision-card{
    display: none;
    transition: all 0.5s;
}

.vision-card.active {
    display: block;
    transition: all 0.5s;
}

.vision-card.left {
    transform: translateX(-100%);
}

.vision-card.right {
    transform: translateX(200%);
}

@media screen and (max-width: 1000px){
    .about-card {
        height: 1200px;
        overflow: auto;
    }
    .vision-card .vision-body{
        width: 80%;
        margin: 0;
        justify-content: center;
        flex-direction: column;
        padding: 0 20px;
    }
    .vision-text{
        max-width: 800px;
        width: 90%;
        margin: 10px auto;
    }
    .vision-body img{
        margin: 0 auto;
    }
}

        /* * Footer Contact * */
.footer{
    height: 400px;
    width: 100%;
    background-color: rgb(205, 42, 246);
    color: #fff;
    overflow: auto;
}
.footer-gird{
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 auto;
    gap: 30px;
    place-items: center;
}
.footer-card{
    padding: 15px;
    text-align: center;
}
.footer-card h1{
    font-size: 35px;
}
.footer-card p{
    line-height: 30px;
}
.social-icon {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
}
.social-icon a{
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.5s;
}
.social-icon a:hover{
    background-color: #ff0000;
}
.social-icon a:hover div i{
    color: #fff;
}
.social-icon div{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon a div i{
    font-size: 20px;
}
.footer-contact {
    padding-top: 65px;
}

.footer-contact div i{
    font-size: 23px;
}

.footer-contract{
    padding: 30px 0 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-contract a{
    color: #fff;
}
.footer-contract a:hover{
    color: #333;
}