.sign-up-section {
  .sign-up {
    height: 90vh;
    background-image: url("../../../assets/images/sign-up-bg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    form {
      font-family: "Lato", sans-serif;
      border: 1px solid black;
      border-radius: 30px;
      padding: 40px 60px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      h1 {
        font-size: 24px;
        font-weight: 900;
        color: rgb(0, 0, 0, 0.4);
      }
      .form-item {
        border-bottom: 1px solid black;

        input {
          border: none;
          background-color: transparent;
          outline: none;
          padding: 10px;
        }
      }
      #agree-checkbox {
        margin-top: 20px;
      }
      .register-login-btn {
        .register-btn {
          padding: 15px 25px;
          background-color: #92e3a9;
          border: 2px solid #92e3a9;
          border-radius: 15px;
          transition: 0.6s;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
}
